<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ES数据展示</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- 数据展示 -->
    <table class="table  table-hover" id="item">
        <thead class="table-success">
            <tr>
                <th scope="col" style="width: 80px;">姓名</th>
                <th scope="col" style="width: 80px;">域账号</th>
                <th scope="col">电话</th>
                <th scope="col" style="width: 120px;">短信生成时间</th>
                <th scope="col" style="width: 120px;">发送成功时间</th>
                <th scope="col" style="width: 120px;">最后发送时间</th>
                <th scope="col">短信内容</th>
            </tr>
        </thead>

        <tbody>
            {% for u in es %}
            <tr>
                <td>{{ u[9] }}</td>
                <td>{{ u[10] }}</td>
                <td>{{ u[11] }}</td>
                <td>{{ u[3] }}</td>
                <td>{{ u[4] }}</td>
                <td>{{ u[6] }}</td>
                <td>{{ u[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>